@model asvslabs.ViewModels.MessageViewModel

@{
    ViewData["Title"] = "Messaging";
}

<section class="messages-page">
    <div class="container">
        <div class="messages-sec">
            <div class="row">
                <div class="col-lg-2 col-md-6 no-pdd">
                    <div class="msgs-list">
                        <div class="msg-title">
                            <a href="/Messages"><h3><li class="fa fa-arrow-left"></li> Back to overview </h3></a>

                        </div><!--msg-title end-->
                        <div class="messages-list">
                            <ul></ul>
                        </div><!--messages-list end-->
                    </div><!--msgs-list end-->
                </div>
                <div class="col-lg-8 col-md-12 pd-right-none pd-left-none">
                    <div class="main-conversation-box">
                        <div class="messages-line">
                            @foreach (var message in Model.MessageList)
                            {
                                <br />
                                if (message.SendFrom != Model.SendTo)
                                {
                                    <div class="main-message-box">
                                        <div class="messg-usr-img">
                                            <img src="http://via.placeholder.com/50x50" alt="">
                                        </div><!--messg-usr-img end-->
                                        <div class="message-dt">
                                            <div class="message-inner-dt img-bx">
                                                @Html.DisplayFor(x => message.Message)
                                                <a style="color:black" href="/Messages/DownloadImage/@Html.DisplayFor(x => message.ImagePath)">Download: @Html.DisplayFor(x => message.ImagePath)</a>
                                           </div><!--message-inner-dt end-->
                                            <span>Sat, Aug 23, 1:08 PM</span>
                                        </div><!--message-dt end-->
                                    </div><!--main-message-box end-->
                                }
                                else
                                {
                                    <div class="main-message-box ta-right">
                                        <div class="message-dt">
                                            <div class="message-inner-dt">
                                                <p>
                                                    @Html.DisplayFor(x => message.Message)
                                                    <a style="color:white" href="/Messages/DownloadImage/@Html.DisplayFor(x => message.ImagePath)">Download: @Html.DisplayFor(x => message.ImagePath)</a>
                                                </p>
                                            </div><!--message-inner-dt end-->
                                            <span>Sat, Aug 23, 1:08 PM</span>
                                        </div><!--message-dt end-->
                                        <div class="messg-usr-img">
                                            <img src="http://via.placeholder.com/50x50" alt="">
                                        </div><!--messg-usr-img end-->
                                    </div><!--main-message-box end-->
                                }
                            }
                        </div><!--messages-line end-->
                        <div class="message-send-area">
                            @using (Html.BeginForm("StoreMessage", "Messages", FormMethod.Post))
                            {
                                <div class="mf-field">
                                    @Html.TextBoxFor(x => x.Message, new { @class = "form-control", required = "required" })
                                    @Html.HiddenFor(x => x.SendTo)
                                    <button type="submit">Send</button>
                                </div>
                            }

                            @using (Html.BeginForm("StoreImage", "Messages", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <div class="mf-field">
                                    <br />
                                    <input type="file" name="file" />
                                    @Html.HiddenFor(x => x.SendTo)
                                    <button type="submit">Upload</button>
                                </div>
                            }
                        </div><!--message-send-area end-->
                    </div><!--main-conversation-box end-->
                </div>
            </div>
        </div><!--messages-sec end-->
    </div>
</section><!--messages-page end-->
